@charset "UTF-8";

/* 
HTML id     =   CSS # 
HTML class  =   CSS .
*/

body {
  background-color: blanchedalmond;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  color: darkblue;
  font-size: 2em;
}

#principal {
  color: darkgreen;
  font-size: 2.5em;
  text-align: center;
  background-color: lightgrey;
}

h2 {
  color: darkred;
  font-size: 1.5em;
}

.basico {
    color: green;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}